In [1]:
from selenium import webdriver
import pandas as pd
import time

In [4]:
driver=webdriver.Chrome('C:\chromedriver')
driver.get("https://www.4icu.org/reviews/index2.htm")

In [17]:
indias_clg_list=[]
links_list=[]
country_rank_list=[]
world_rank_list=[]

for i in range(2,34):
    
    driver.get("https://www.4icu.org/reviews/index"+str(i)+".htm")
    time.sleep(1.5)
    table=driver.find_elements_by_xpath("//table[@class='table table-hover text-left']/tbody/tr")
    
    for j in table:
        country=j.find_elements_by_tag_name("td")
        
        if(country[1].text=='in'):
            indias_clg_list.append(country[0].text)
            time.sleep(1)
            link=country[0].find_element_by_tag_name("a").get_attribute("href")
            links_list.append(link)

In [19]:
links_list[:5]

['https://www.4icu.org/reviews/17817.htm',
 'https://www.4icu.org/reviews/1978.htm',
 'https://www.4icu.org/reviews/2077.htm',
 'https://www.4icu.org/reviews/17885.htm',
 'https://www.4icu.org/reviews/17856.htm']

In [20]:
for link in links_list:
    
    driver.get(link)
    time.sleep(1)
    
    rows=driver.find_elements_by_xpath("//table[@class='text-right']/tbody/tr")
    
    columns=rows[0].find_elements_by_tag_name("td")  #getting country rank
    country_rank_list.append(columns[1].text)

    columns=rows[1].find_elements_by_tag_name("td")  #getting world rank
    world_rank_list.append(columns[1].text)

In [22]:
data=pd.DataFrame({'University_Name':indias_clg_list,
              'Country_Rank':country_rank_list,
              'World_Rank':world_rank_list
             })

data.head()

                              University_Name Country_Rank World_Rank
0                        Abhilashi University          841      11988
1  Acharya N.G. Ranga Agricultural University          262       7128
2                Acharya Nagarjuna University          212       6494
3                           Adamas University          525       9269
4                            Adesh University          702      10656

In [23]:
data.shape

(925, 3)

In [24]:
data.to_csv('Indian_University_Data.csv',index=False)

#### below codes are not important

rows=driver.find_elements_by_xpath("//table[@class='text-right']/tbody/tr")
time.sleep(1)
columns=rows[0].find_elements_by_tag_name("td")  #getting country rank
country_rank_list.append(columns[1].text)

time.sleep(1)
columns=rows[1].find_elements_by_tag_name("td")  #getting world rank
world_rank_list.append(columns[1].text)

driver.execute_script("window.history.go(-1)")
            print(link)

In [50]:
indias_clg_list[-5:]

['William Carey University, Meghalaya',
 'Xavier University Bhubaneswar',
 'YBN University',
 'Yenepoya University',
 'Yogi Vemana University']

In [25]:
links_list[0]

'https://www.4icu.org/reviews/17817.htm'

#### below codes are just for understanding

In [3]:
driver.get("https://www.4icu.org/reviews/index2.htm")
time.sleep(1.5)
table=driver.find_element_by_xpath("//table[@class='table table-hover text-left']/tbody/tr")
# for j in table:
country=table.find_elements_by_tag_name("td")
link=country[0].find_element_by_tag_name("a")
print(country[0].text,country[1].text,link)

A.T. Still University us <selenium.webdriver.remote.webelement.WebElement (session="aeca813c73057d9c83a1babf8e6c1914", element="d9b05100-22e2-4fa7-96f0-9f285c828d25")>

In [4]:
country[0].find_element_by_link_text(country[0].text).click()

In [27]:
link.click()

In [5]:
body=driver.find_element_by_tag_name("tbody")
rows=body.find_elements_by_tag_name("tr")
for j in rows:
    columns=j.find_elements_by_tag_name("td")
    print(columns[1].text)

1056
3029

In [19]:
columns=rows[1].find_elements_by_tag_name("td")
print(columns[1].text)

3029

In [32]:
rows=driver.find_elements_by_xpath("//table[@class='text-right']/tbody/tr")

In [33]:
columns=rows[0].find_elements_by_tag_name("td")  #getting country rank
columns[1].text

'1056'

In [12]:
country_rank_list

['841']

In [13]:
world_rank_list

['11988']